/* Author tag */

.author-tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 20px;
    padding-left: 0;
    &.style-02 {
        justify-content: flex-start;
        .tag-list {
            &:not(:last-child) {
                margin-right: 80px;
            }
        }
    }
    .tag-list {
        .authors {
            display: flex;
            align-items: center;
            gap: 15px;
            .thumb {
                position: relative;
                z-index: 1;
                display: inline-block;
                height: 30px;
                width: 30px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .notification-dot {
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    border-radius: 50px;
                    background: var(--main-color-one);
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border: 2px solid $white;
                }
            }
            .author-title {
                font-size: 14px;
                color: var(--light-color);
            }
        }
        .icon {
            font-size: 14px;
            color: #FF6B2C;
            margin-right: 7px;
        }
        .reviews {
            font-size: 12px;
        }
    }
}