/*---------------------------------------
    ## Back Top
---------------------------------------*/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background-color: var(--main-color-one);
    color: $white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 99;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: none;
    &.style-02 {
        background: var(--main-color-two);
    }
    &.style-03 {
        background: var(--main-color-three);
    }
}