.checkbox-inlines {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    gap: 10px;
    .check-input {
        appearance: none;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 18px;
        min-width: 18px;
        cursor: pointer;
        background: $white;
        border: 1px solid #dddddd;
        border-radius: 0px;
        margin-top: 3px;
        transition: all .3s;
        &::after {
            content: "\f00c";
            font-family: 'Line Awesome Free';
            font-weight: 900;
            font-size: 10px;
            color: $white;
            visibility: hidden;
            opacity: 0;
            transform: scale(1.6) rotate(90deg);
            transition: all .2s;
        }
        &:checked {
            background: var(--main-color-one);
            border-color: var(--main-color-one);
            background: var(--main-color-one);
            &::after {
                visibility: visible;
                opacity: 1;
                -webkit-transform: scale(1.2) rotate(0deg);
                -ms-transform: scale(1.2) rotate(0deg);
                transform: scale(1.2) rotate(0deg);
            }
        }
    }
    .checkbox-label {
        cursor: pointer;
        text-align: left;
        line-height: 26px;
        font-size: 18px;
        font-weight: 500;
        color: var(--heading-color);
        @include responsive(xs) {
            font-size: 15px;
        }
    }
}