/* Faq */

.faq-contents {
    .faq-item {
        &.open {
            .faq-title {
                background: var(--main-color-one);
                color: $white;
                &::after {
                    content: "\f068";
                    color: $white;
                }
            }
        }
        &.active {
            .faq-panel {
                display: block;
            }
        }
        &:not(:first-child) {
            margin-top: 30px;
        }
        .faq-title {
            font-size: 18px;
            color: var(--light-color);
            line-height: 24px;
            border: 1px solid rgba($black, .1);
            padding: 20px 25px;
            background: $white;
            cursor: pointer;
            position: relative;
            z-index: 1;
            -webkit-transition: all .3s;
            transition: all .3s;
            &::after {
                font-family: 'Line Awesome Free';
                font-weight: 900;
                margin-right: 10px;
                content: "\f067";
                position: absolute;
                right: 15px;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                font-size: 18px;
                -webkit-transition: all .3s;
                transition: all .3s;
            }
        }
        .faq-panel {
            display: none;
            padding: 15px 0 0;
            .faq-para {
                font-size: 16px;
                line-height: 28px;
                color: var(--light-color);
            }
        }
    }
}