/* Nice Select Style */

.nice-select {
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    font-weight: 400;
    color: var(--extra-light-color);
    border: 1px solid #ddd;
    transition: all .3s;
    &:focus {
        border: 1px solid #ddd;
    }
    .nice-select-search-box {
        height: 100%;
        .nice-select-search {
            vertical-align: top;
        }
    }
    &:after {
        border-bottom: 2px solid var(--extra-light-color);
        border-right: 2px solid var(--extra-light-color);
        height: 8px;
        margin-top: -5px;
        right: 20px;
        width: 8px;
    }
    &.open {
        border: 1px solid #ddd;
    }
    .list {
        width: 100%;
    }
}