/* Pagination */

.service-pagination {
    margin-top: 50px;
}

.pagination-list {
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: center;
    &.style-02 {
        &::before,
        &::after {
            background: var(--main-color-one);
        }
        li {
            &.active {
                a {
                    background: var(--main-color-one);
                    color: $white;
                }
            }
            a {
                &:hover {
                    background: var(--main-color-one);
                    color: $white;
                }
            }
        }
    }
    &::before {
        content: "Prev";
    }
    &::after {
        content: "Next";
    }
    &::before,
    &::after {
        cursor: pointer;
        background: var(--main-color-three);
        color: $white;
        font-size: 16px;
        box-shadow: 0 0 10px rgba($black, .05);
        padding: 10px 20px;
        display: inline-block;
        border-radius: 5px;
        transition: all .3s;
    }
    li {
        margin: 5px 10px;
        &.active {
            a {
                background: var(--main-color-three);
                color: $white;
            }
        }
        a {
            background: $white;
            color: var(--light-color);
            font-size: 16px;
            box-shadow: 0 0 10px rgba($black, .05);
            padding: 10px 20px;
            display: inline-block;
            border-radius: 5px;
            transition: all .3s;
            &:hover {
                background: var(--main-color-three);
                color: $white;
            }
        }
    }
}