/*-------------------------
    Section Title
-------------------------*/

.section-title {
    text-align: center;
    &.text-left {
        text-align: left;
        .section-para {
            padding: 0;
        }
    }
    .title {
        font-size: 45px;
        font-weight: 700;
        line-height: 55px;
        color: var(--heading-color);
        .title-color {
            color: var(--main-color-one);
        }
    }
    .section-para {
        display: block;
        font-size: 16px;
        line-height: 28px;
        color: var(--light-color);
        margin-top: 30px;
        padding: 0 30px;
        &.extra-padding {
            padding: 0 120px;
        }
    }
    &.style-02 {
        .title {
            font-size: 16px;
            font-weight: 500;
            color: var(--paragraph-color);
            position: relative;
            z-index: 1;
            padding-left: 32px;
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 25px;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                background: var(--main-color-one);
                margin-right: 35px;
            }
        }
    }
}

.section-title-two {
    border-bottom: 2px solid rgba($black, .1);
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &::before {
        position: absolute;
        content: "";
        height: 4px;
        width: 65px;
        background: var(--main-color-three);
        left: 0;
        bottom: -3px;
        border-radius: 10px;
    }
    .title {
        font-size: 32px;
        font-weight: 600;
        font-family: var(--heading-font-two);
        line-height: 46px;
    }
}

.section-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba($black, .1);
    margin-bottom: 10px;
    .section-title-two {
        border-bottom: none;
        margin-bottom: 0;
    }
}

.section-title-three {
    border-top: 1px solid rgba($black, .1);
    border-bottom: 1px solid rgba($black, .1);
    margin-bottom: 10px;
    padding: 3px 0;
    .title {
        font-size: 24px;
        font-weight: 600;
        font-family: var(--heading-font-two);
        line-height: 46px;
        margin: 0;
    }
}