//== Template Main Color
$white: #fff;
$danger: #dc3545;
$border: #726c94;
$Prussian: #002359;
$black: #000;
$Pampas: #F3F0EB;
$Violet: #9238A4;
$Gray: #F2F3F5;
$Zircon: #F1F6FF;
$main-color-one: #1DBF73;
$main-color-two: #47C8ED;
$main-color-three: #FF6B2C;
//== social media colors
$facebook: #3b5999;
$twitter: #55acee;
$pintarest: #c40014;
$youtube: #ff1544;
$dribbble: #ea4c89;
$behance: #131418;
$google-plus: #dd4b39;
$linkedin: #326DE4;
$instagram: linear-gradient(to top, #fea038, #ff8841, #ff704e, #ff575f, #ff3e71, #fa3080, #f12690, #e523a0, #d12dac, #bb37b7, #a140bf, #8347c5);

/*--------------------------------------------------------------
    google fonts
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
//  transition
$transition: all 0.3s ease-in;
$transition-long: all 0.5s ease-in;