/* Banner Inner */

.banner-inner-area {}

.banner-inner-contents {
    .banner-inner-title {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        font-family: var(--heading-font);
    }
}