/* Blog area */

.blog-area {}

.single-blog {
    background: $white;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px;
    box-shadow: 0 0 20px rgba($black, .05);
    transition: all .3s;
    &.style-02 {
        .common-title {
            &:hover {
                color: var(--main-color-two);
            }
        }
    }
    &.style-03 {
        background: linear-gradient(135deg, #FBFDFE 0%, #EAF5FC 100%);
        &:hover {
            background: linear-gradient(45deg, #FBFDFE 0%, #EAF5FC 100%);
        }
        .common-title {
            &:hover {
                color: var(--main-color-three);
            }
        }
        .blog-contents {
            .tags {
                li {
                    a {
                        &:hover {
                            color: var(--main-color-three);
                            i {
                                color: var(--main-color-three);
                            }
                        }
                    }
                }
            }
        }
    }
    &.no-margin {
        margin: 0;
    }
    &:hover {
        transform: translateY(-10px);
        background: none;
        .blog-thumb {
            img {
                transform: scale(1.2);
            }
        }
    }
    .blog-thumb {
        overflow: hidden;
        display: block;
        img {
            transition: all .4s;
        }
    }
    .blog-contents {
        padding: 30px;
        .tags {
            padding: 0;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            li {
                &:not(:last-child) {
                    margin-right: 30px;
                }
                a {
                    color: var(--light-color);
                    font-size: 12px;
                    transition: all .3s;
                    &:hover {
                        color: var(--main-color-one);
                        i {
                            color: var(--main-color-one);
                        }
                    }
                    i {
                        color: var(--main-color-three);
                        transition: all .3s;
                    }
                }
            }
        }
        .common-title {}
        .common-para {
            margin-top: 15px;
        }
    }
}