/* Details Tag area */

.details-tag-area {}

.social-share {
    display: flex;
    align-items: center;
    gap: 20px;
    .share-tiitle {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }
    ul {
        padding: 0;
        display: flex;
        align-items: center;
        li {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;
                width: 40px;
                font-size: 18px;
                color: $white;
                margin-left: 15px;
            }
        }
    }
}

.tag-list {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    .tag-title {
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
    }
    ul {
        padding: 0;
        display: flex;
        align-items: center;
        li {
            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                padding: 10px 35px;
                border: 1px solid rgba(#ddd, .5);
                margin-left: 15px;
                transition: all .3s;
                &:hover {
                    background: var(--main-color-one);
                    color: $white;
                }
            }
        }
    }
}