/* Error area */

.error-area {}

.error-wrapper {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    .thumb {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .contents {
        .title {
            font-size: 40px;
            line-height: 50px;
            font-weight: 700;
        }
    }
}