/*----------------------------------------------
    # Nav bar 
----------------------------------------------*/

.navbar.navbar-area.white .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-area.nav-style-01 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar.navbar-area .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.mobile-logo {
    display: none;
}

@media only screen and (max-width: 991px) {
    .mobile-logo {
        display: block;
    }
    .desktop-logo {
        display: none !important;
    }
}

.navbar-area {
    &.navbar-border {
        .nav-container {
            border-bottom: 1px solid rgba($white, 0.2);
        }
    }
    &.nav-absolute {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0px;
        z-index: 9;
    }
    &.navbar-two {
        .nav-container {
            .nav-right-content {
                ul {
                    li {
                        color: var(--heading-color);
                        a {
                            color: var(--heading-color);
                            .info-bar-item {
                                .icon {
                                    &:hover {
                                        color: var(--main-color-three);
                                    }
                                }
                            }
                        }
                        .info-bar-item-two {
                            .author-thumb {
                                img {
                                    border: 2px solid var(--main-color-three);
                                }
                            }
                            .author-nav-content {
                                .title {
                                    &:hover {
                                        color: var(--main-color-three);
                                    }
                                }
                            }
                        }
                    }
                }
                @include responsive(allPhone) {
                    display: none;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    li {
                        +li {}
                        color: var(--light-color);
                        &.current-menu-item {
                            color: var(--heading-color);
                            background: none;
                        }
                        &.menu-item-has-children {
                            .sub-menu {
                                border-bottom: 4px solid var(--heading-color);
                                li {
                                    a {
                                        background-color: #fff;
                                        color: var(--heading-color);
                                        &:hover {
                                            background-color: var(--heading-color);
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        a {
                            &:hover {
                                color: var(--heading-color);
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-container {
        background: transparent;
        box-shadow: none;
        padding: 30px 0px;
        .logo-wrapper {
            .logo {
                img {
                    max-width: 200px;
                }
            }
        }
        .nav-right-content {
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                margin-left: 15px;
                display: flex;
                align-items: center;
                li {
                    display: inline-block;
                    margin: 0 15px;
                    &:last-child {
                        margin-right: 0;
                        margin-left: 0;
                    }
                    color: #fff;
                    a {
                        color: #fff;
                        @include transition($transition);
                        .info-bar-item {
                            display: flex;
                            align-items: center;
                            .icon {
                                font-size: 24px;
                                transition: all .3s;
                                position: relative;
                                z-index: 1;
                                margin-right: 20px;
                                &:hover {
                                    color: var(--main-color-one);
                                    .notification-number {
                                        background: $white;
                                        color: var(--main-color-one);
                                        &.style-02 {
                                            background: $white;
                                            color: var(--main-color-three);
                                        }
                                    }
                                }
                                /* &:not(:last-child) {
                                    margin-right: 20px;
                                }
                                &:not(:first-child) {
                                    margin-right: 20px;
                                } */
                                .notification-number {
                                    background: var(--main-color-one);
                                    color: $white;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-size: 12px;
                                    line-height: 16px;
                                    font-weight: 400;
                                    height: 18px;
                                    width: 18px;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 0px;
                                    right: -7px;
                                    transition: all .3s;
                                    &.style-02 {
                                        background: var(--main-color-three);
                                    }
                                }
                            }
                            .cart-icon {
                                position: relative;
                                z-index: 2;
                                /* &:hover {
                                    .cart-list {
                                        visibility: visible;
                                        opacity: 1;
                                        top: 100%;
                                        transform: scale(1);
                                    }
                                } */
                                &.active {
                                    .cart-list {
                                        visibility: visible;
                                        opacity: 1;
                                        top: 100%;
                                        transform: scale(1);
                                    }
                                }
                                .cart-list {
                                    background: rgba($black, .8);
                                    position: absolute;
                                    top: 0%;
                                    left: 0;
                                    z-index: 9;
                                    color: $white;
                                    min-width: 150px;
                                    transform: scale(0);
                                    visibility: hidden;
                                    opacity: 0;
                                    transition: all .4s;
                                    .single-list {
                                        display: block;
                                        font-size: 16px;
                                        font-weight: 400;
                                        color: $white;
                                        padding: 10px 20px;
                                        background: $black;
                                        transition: all .3s;
                                        &:not(:last-child) {
                                            border-bottom: 1px solid rgba($white, 0.2);
                                        }
                                        &:hover {
                                            background: $white;
                                            color: $black;
                                        }
                                    }
                                }
                            }
                            .notification-icon {}
                        }
                    }
                    .info-bar-item-two {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .author-thumb {
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                                border: 2px solid var(--main-color-one);
                            }
                        }
                        .author-nav-content {
                            .title {
                                display: inline-block;
                                transition: all .3s;
                                &:hover {
                                    color: var(--main-color-one);
                                }
                            }
                        }
                    }
                }
            }
        }
        .navbar-collapse {
            .navbar-nav {
                display: block;
                width: 100%;
                text-align: center;
                &.desktop-center {
                    text-align: center;
                }
                li {
                    +li {
                        margin-left: 0px;
                    }
                    display: inline-block;
                    font-size: 16px;
                    font-family: var(--body-font);
                    text-transform: capitalize;
                    color: $white;
                    font-weight: 400;
                    line-height: 70px;
                    &.current-menu-item {
                        color: var(--main-color-one);
                        background: none;
                    }
                    &.menu-item-has-children {
                        padding-right: 0;
                        position: relative;
                        >a {
                            padding: 10px 20px;
                            position: relative;
                            z-index: 0;
                            &::after {
                                content: "\f107";
                                font-weight: 700;
                                font-family: "fontawesome";
                                @include transform(translateY(-50%));
                                @include transition($transition);
                                top: 1px;
                                left: 4px;
                                position: relative;
                            }
                        }
                        &:hover>.sub-menu {
                            visibility: visible;
                            opacity: 1;
                        }
                        .sub-menu {
                            position: absolute;
                            text-align: left;
                            min-width: 220px;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            left: 0;
                            top: 100%;
                            box-shadow: 0 0 15px 0 rgba(#000, 0.05);
                            background-color: $white;
                            z-index: 992;
                            border-bottom: 4px solid var(--main-color-one);
                            visibility: hidden;
                            opacity: 0;
                            @include transition($transition);
                            li {
                                display: block;
                                margin-left: 0;
                                line-height: 24px;
                                font-size: 14px;
                                +li {
                                    border-top: 1px solid #e2e2e2;
                                }
                                a {
                                    display: block;
                                    padding: 10px 30px;
                                    background-color: #fff;
                                    white-space: nowrap;
                                    color: var(--heading-color);
                                    @include transition($transition);
                                    &:hover {
                                        background-color: var(--main-color-one);
                                        color: #fff;
                                    }
                                }
                            }
                            .menu-item-has-children {
                                position: relative;
                                z-index: 0;
                                padding-right: 0px;
                                >.sub-menu {
                                    left: 100%;
                                    top: 0px;
                                    .sub-menu {
                                        .sub-menu {
                                            left: auto;
                                            right: 100%;
                                        }
                                    }
                                }
                                &:hover>.sub-menu {
                                    visibility: visible;
                                    opacity: 1;
                                    li {
                                        &:hover {
                                            &:before {
                                                color: $white;
                                            }
                                        }
                                        a {}
                                    }
                                }
                            }
                        }
                    }
                    a {
                        padding: 10px 28px;
                        @include transition($transition);
                        &:hover {
                            color: var(--main-color-one);
                            background: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .navbar-area {
        &.nav-style-02 {
            .nav-container {
                padding: 20px 0px;
                .navbar-toggler {
                    background-color: #fff;
                }
                .navbar-collapse {
                    .navbar-nav {
                        padding: 0 20px;
                        li {
                            &.menu-item-has-children {
                                .sub-menu {
                                    li {
                                        a {
                                            background-color: transparent;
                                            color: rgba($white, 0.8);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .nav-container {
            position: relative;
            z-index: 0;
            min-height: 50px;
            padding: 15px 0px;
            .responsive-mobile-menu {
                display: block;
                position: relative;
                width: 100%;
                .navbar-toggler {
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    @include transform(translateY(-50%));
                    border: 1px solid rgba($black, 0.2);
                    outline: none;
                }
            }
            .navbar-brand {
                display: block;
                .navbar-toggler {
                    position: absolute;
                    right: 10px;
                    border: 1px solid #e2e2e2;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    display: block;
                    margin-top: 30px;
                    li {
                        display: block;
                        text-align: left;
                        line-height: 30px;
                        padding: 10px 0;
                        border-bottom: 1px solid rgba($white, 0.2);
                        a {
                            padding: 17px 20px;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                        +li {
                            margin-left: 0;
                        }
                        &.menu-item-has-children {
                            &:before {
                                top: 25px;
                                right: 20px;
                            }
                            &:hover {
                                padding-bottom: 0;
                                >.sub-menu {
                                    visibility: visible;
                                    height: auto;
                                    opacity: 1;
                                    background-color: transparent;
                                    border-bottom: none;
                                    padding-top: 10px;
                                }
                            }
                            .sub-menu {
                                position: initial;
                                display: block;
                                width: 100%;
                                border-top: none;
                                box-shadow: none;
                                margin-left: 0;
                                padding-bottom: 0;
                                visibility: hidden;
                                opacity: 0;
                                height: 0;
                                overflow: hidden;
                                max-height: 250px;
                                overflow-y: scroll;
                                @include transition(height 500ms);
                                .sub-menu .menu-item-has-children:before {
                                    content: "\f107";
                                }
                                li {
                                    &.menu-item-has-children {
                                        &:hover {
                                            &:before {
                                                color: $white;
                                            }
                                        }
                                    }
                                    padding: 0;
                                    +li {
                                        border-top: none;
                                    }
                                    &:first-child {
                                        border-top: 1px solid rgba($white, 0.2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .navbar-area {
        .nav-container {
            margin: 0 15px;
            .logo-wrapper {
                .logo {
                    img {
                        max-width: 140px;
                    }
                }
            }
        }
    }
}