/* Profile */

.profile-author-contents {}

.profile-flex-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .thumb {
        height: 120px;
        min-width: 120px;
        border-radius: 10px;
        img {
            border-radius: 10px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .profile-contents {
        .title {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
        }
        .profiles-review {
            font-size: 16px;
            line-height: 28px;
            .icon {
                color: var(--main-color-three);
            }
            .reviews {
                b {
                    color: var(--light-color);
                    padding: 0 3px;
                }
            }
        }
    }
}

.profile-about {
    padding: 0;
    text-align: center;
    li {
        font-size: 16px;
        font-weight: 400;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        span {
            font-weight: 500;
            color: var(--heading-color);
            display: inline-block;
            padding-left: 10px;
        }
    }
}

.profile-single-achieve {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .single-achieve {
        background: var(--main-color-three);
        border-radius: 10px;
        height: 180px;
        min-width: 180px;
        align-items: center;
        justify-content: center;
        display: flex;
        text-align: center;
        color: $white;
        &:nth-child(2n+2) {
            background: var(--main-color-one);
            .icon {
                color: var(--main-color-one);
            }
        }
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background: $white;
            color: var(--main-color-three);
            font-size: 20px;
            margin: 0 auto;
        }
        .contents {
            .title {
                font-size: 32px;
                font-weight: 700;
                line-height: 36px;
                color: $white;
            }
            .ratings-span {
                line-height: 20px;
                font-size: 18px;
                color: $white;
                display: block;
            }
        }
    }
}