/* Service area */

.services-area {}

.services-slider {
    .slick-list {
        margin: -15px;
    }
}

.service-item-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-item-devide {
    width: calc((100% / 5) - 25px);
    height: 100%;
}

.single-service {
    border-radius: 10px;
    background: $white;
    box-shadow: 0 0 15px rgba($black, .05);
    margin: 15px;
    overflow: hidden;
    &.section-bg-2 {
        background: $Zircon;
    }
    &.style-02 {
        .services-contents {
            .common-title {
                &:hover {
                    color: var(--main-color-two);
                }
            }
            .service-price {
                .starting {
                    text-align: right;
                }
            }
        }
    }
    &.style-03 {
        .services-contents {
            padding: 0 30px 10px;
            &.content-padding-reverse {
                padding: 0 15px;
            }
            .common-title {
                &:hover {
                    color: var(--main-color-three);
                }
            }
            .service-price-wrapper {
                margin: 0;
            }
        }
    }
    &.no-margin {
        margin: 0;
    }
    &.service-two {
        margin: 0;
    }
    &.service-padding {
        padding: 20px;
    }
    &:hover {
        .service-thumb {
            img {
                transform: scale(1.2);
                border-radius: 10px 10px 0 0;
            }
        }
    }
    .service-thumb {
        position: relative;
        z-index: 1;
        display: block;
        overflow: hidden;
        img {
            transition: all .4s;
            border-radius: 10px 10px 0 0;
            width: 100%;
        }
        .award-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            min-width: 30px;
            min-height: 30px;
            background: $white;
            color: var(--main-color-one);
            font-size: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 9;
            border-radius: 3px;
            &.style-02 {
                color: var(--main-color-three);
            }
        }
    }
    .services-contents {
        padding: 0 30px 30px;
        .common-title {}
        .common-para {
            margin-top: 20px;
        }
        .service-price {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 18px 0 13px;
            &.style-02 {
                display: block;
                margin: 20px 0 0;
                .starting {
                    display: block;
                }
                .prices {}
            }
            .starting {
                font-size: 12px;
                color: var(--light-color);
            }
            .prices {
                font-size: 28px;
                font-weight: 700;
                line-height: 55px;
                color: #FF6B2C;
                &.style-02 {
                    color: var(--heading-color);
                }
            }
        }
        .service-price-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 -15px 0px;
        }
    }
}